.app {
    background-color: var(--color-secondary);
    grid-column: full-start / full-end;
    color:#000;
    overflow: hidden;

    

    &__app {
        margin-top: 15rem;
       
        display: flex;
        align-items: center;

        @media only screen and (max-width: $bp-large) {
            padding: 0 2rem;
        }

        @media only screen and (max-width: $bp-medium) {
            justify-content: center;
            margin-bottom: 15rem;
        }
    }

    &__phone {
        flex: 1;
        margin-right: 5rem;

        display: table;

        @media only screen and (max-width: $bp-large) {
            margin-right: 2rem;
        }

        @media only screen and (max-width: $bp-medium) {
            display: none;
        }

        .phone--image {
            display: table-cell;
            vertical-align: bottom;

            @media only screen and (max-width: $bp-large) {
                width: 100%;
            }
        }
    }

    &__description {
        flex: 0 0 61%;

        @media only screen and (max-width: $bp-large) {
            flex:1;
        }

        h2 {
            font-size: 3rem;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }

        p {
            font-size: 1.6rem;
            margin-bottom: 3rem;
        }
    }

    &__logos {
        max-width: 100%;
        display: inline-block;
    }
}