.footer {
    background-color: var(--color-secondary);
    grid-column: full-start / full-end;
    color:#8b8b8b;
    font-size: 1.6rem;

    &__content {
        padding: 3rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: hidden;
        @media only screen and (max-width: $bp-medium) {
           justify-content: center;
        }

          a:link,
          a:visited {
            color:#000;
          }
    }
}